<div id="controls">
	<div class="arrow" id="prev">
		<a [routerLink]="['/'+mode, interval.decrement().getDate(), interval.decrement().getMonth(), interval.decrement().getFullYear()]">
			<img src="../assets/prev.png" alt="next" />
		</a>
	</div>
	<div id="date">
		<a [routerLink]="['/'+nextMode, interval.getDate(), interval.getMonth(), interval.getFullYear()]">{{dateString()}}</a>
	</div>
	<div class="arrow" id="next">
		<a [routerLink]="['/'+mode, interval.increment().getDate(), interval.increment().getMonth(), interval.increment().getFullYear()]">
			<img src="../assets/next.png" alt="next" />
		</a>
	</div>
</div>
<div *ngIf="isVisible">
	<ul class="week">
		<li>L</li>
		<li>M</li>
		<li>M</li>
		<li>G</li>
		<li>V</li>
		<li>S</li>
		<li>D</li>
	</ul>
</div>
