<div id="controls">
	<div class="arrow" id="prev">
		<button (click)="onClick('prev')">
			<img src="../assets/prev.png" alt="next" />
		</button>
	</div>
	<div id="date">
		<a (click)="switchComponent()">{{dateStr}}</a>
	</div>
	<div class="arrow" id="next">
		<button (click)="onClick('next')">
			<img src="../assets/next.png" alt="next" />
		</button>
	</div>
</div>
<div>
	<ul class="week">
		<li>L</li>
		<li>M</li>
		<li>M</li>
		<li>G</li>
		<li>V</li>
		<li>S</li>
		<li>D</li>
	</ul>
</div>
