ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.name {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 900;
  width: auto;
  text-align: center;
  margin: 15px auto 0 auto;
}

ul.week
{
	color: #FFFFFF;
	margin: 0 auto;
	padding: 15px 0;
	width: 420px;
	list-style-type: none;
}

ul.week li
{
	width: 30px;
	float: left;
	margin: 0 15px;
}

div.extra {
  width: auto;
  background-color: purple;
  text-align: center;
  margin: 15px auto 0 auto;
}
